.custom-file-label::after {
    content: 'Elegir' !important;
} 
.btn-acciones{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
}
