/* .navbar-vertical .navbar-nav .nav-link[data-toggle=collapse][aria-expanded=true]:after {
    transform: rotate(90deg);
    color: #11cdef !important;
} */
/* .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    border-color: #11cdef !important;
    background-color: #11cdef !important;
} */
/* .btn-neutral {
    color: #11cdef !important;
}
.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link.active {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: .375rem;
    background: #11cdef17 !important;
} */
/* .table .thead-light th {
    color: #11cdef !important;
    background-color: #11cdef38 !important;
}
.focused.form-control{
    border-color:  #11cdef !important;
}
.form-control:focus{
    border-color:  #11cdef !important;
}
.focused .input-group-text{
    border-color:  #11cdef !important;
}
select:focus{
    border-color:  #11cdef !important;
}

legend {
	font-size: 12px !important;
	font-weight: bold;
    width: auto;
    padding: 3px 5px 3px 7px;
}
.custom-file-label:focus {
    border-color:  #11cdef !important;
}
.custom-file-label::after {
    content: 'Elegir' !important;
} */
.btn-acciones{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
}
/* .datepicker table tr td.active, .datepicker table tr td.active.highlighted, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:hover {
    background: #11cdef !important;
}
.badge-warning {
    color: #ffd509 !important;
    background-color: #fbf9c5 !important;
}

input[type="checkbox"] {
    background-color:red !important;
}
.form-checkbox .form-check-input:checked~.form-check-label::before{
background-color:black !important;
} */